#title, #blank1, #blank2, #number, #wins, #losses, #crystal1, #crystal2, #crystal3, #crystal4, #scoretext, #scorenum {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    text-align: center;
}

#header {
    color: rgba(red, green, blue, alpha);
    font-size: 20px;
}

#instructions {
    color: darkblue;
    font-weight: bold;
}

body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
    height: 150px;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
    background-color: white;
}

#number {
height: 50px;
width: 50px;
}